body{
    padding: 0px;
    margin: 0px;
}

header{
    height: 100px;
    width: 100%;
    background-color: blue;
    display:flex;
    gap: 0px;
    align-items: center;
    justify-content:space-around;
}

.headerdiv{
    height: 90px;
    width: 700px;
    background-color: aqua;
    display:flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#headerdiv_direita{
    height: 90px;
    width: 200px;
    background-color: aqua;
    display:flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.headerdivdiv{
    height: 60px;
    width: 200px;
    background-color: blue;
    display:flex;
    }

#headerdivdiv{
    height: 60px;
    width: 160px;
    background-color: blue;
    display:flex;
    }

#pos_header{
    /* display: flex; */
    background-color: ;
    height: 300px;
    /* align-items: center; */
    /* justify-content: center; */
   
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 10% 30% 5% 30% 10%;
    grid-template-columns: 20% 1fr 1% 1fr 1% 1fr 1% 1fr 1% 20%;


;
    
    }

#pos_header_g{
    background-color: rgb(255, 0, 200);
    grid-column:  2/9;
    grid-row: 2;
    /* height: 30%; */
    /* width: 60%; */
}

#pos-header_p1{
    background-color: blue;
    grid-column: 2 ;
    grid-row: 4;
 }

#pos-header_p2{
    background-color: blue;
    grid-column: 4 ;
    grid-row: 4;
}

#pos-header_p3{
    background-color: blue;
    grid-column: 6 ;
    grid-row: 4;
}

#pos-header_p4{
    background-color: blue;
    grid-column: 8 ;
    grid-row: 4;
} 